<html>
    <head>
       
          <h1 class="page-header">Welcome, {{ name }}</h1>
        
    </head>
    <body>
        <div>
 <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        </div>
        
    </body>
</html>