{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<body  style="background-color:#062040">
    <div class="container">

      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading" text-shadow="red">RECOMMENDATION ENGINE</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit" "background-color:#05C5D3>Sign in</button>
      </form>

    </div> <!-- /container --></body>
{% endblock %}

